---
import Title from "../components/Elements/Title";
import Images from "../components/Elements/Images";
import Button from "../components/Buttons/Button";
import Body from "../components/Elements/Body";
import List from "../components/Elements/List";
import Layout from "../layouts/Layout.astro";

const title = "Deltapath Salesforce CTI Integration";
const desc1 =
  "Initiate calls from your Salesforce on any device you have the application installed and start enjoying audio or video calls from anywhere. Enjoy Salesforce computer telephony integration (CTI).​";
const desc2 =
  "Outgoing calls launch the Deltapath Engage or Deltapath Mobile productivity application. Download Deltapath Engage on Windows or macOS or download Deltapath Mobile on iOS or Android.";
const skills = "UX & UI Design";
const year = "2022";

const problemTitle = "Problem:";
const problemDesc =
  "Before the introduction of Open CTI (Computer Telephony Integration), Salesforce users could only use the features of a CTI system after they installed a CTI adapter program on their machines. These types of programs often included desktop software that required maintenance and didn’t offer the benefits of cloud architecture. After the Open CTI implementation was introduced, it’s now integrated with Salesforce using the Salesforce Call Center.";

const processTitle = "Process:";
const processDesc =
  "When rolling out all the screens, careful attention was paid so that the colour hierarchies were respected. White space was used generously to keep the layouts uncluttered and to balance out the vibrancy of the icon colours. Using strong and simple geometry and confident typography, we created a quick and effective UI that looks good with the brand guidelines. We used circular forms to create a more welcoming look for the application. The working process can be summarized to:​";
const processList = [
  "Work on the software requirements with the product design manager.",
  "Find out what Salesforce agents are in need of and what their pain points are.",
  "I began working on redesigns for particular aspects of the calling experience, such as choosing transfer choices, while I was conducting research.",
];

const resultsTitle = "Results:";
const resultsDesc =
  "Although the project is still in development, we have received positive comments thus far from our potential consumers, who appreciate the colourful design and straightforward user interface.";
---

<Layout title="Felicia's Portfolio Website">
  <section class="whiteBg">
    <div class="container">
      <div class="header-info">
        <Title
          title={title}
          subtitle=""
          descriptions={[desc1, desc2]}
          skills={skills}
          year={year}
        />
      </div>

      <Images
        images={[
          { src: "/img/salesforce/cti1.webp", alt: "project image cover" },
        ]}
      />

      <Body title={problemTitle} desc={problemDesc} />

      <p>
        My responsibility in this project is to design the Open CTI
        implementations' user interface and user experience.
      </p>

      <List title={processTitle} desc={processDesc} items={processList} />

      <Body title={resultsTitle} desc={resultsDesc} />

      <Images
        images={[
          { src: "/img/salesforce/1.webp", alt: "Image 1" },
          { src: "/img/salesforce/2.webp", alt: "Image 2" },
          { src: "/img/salesforce/3.webp", alt: "Image 3" },
          { src: "/img/salesforce/4.webp", alt: "Image 4" },
          { src: "/img/salesforce/5.webp", alt: "Image 5" },
        ]}
      />

      <div style="width: 150px; padding-top: 100px;">
        <Button
          title="Back"
          border={false}
          action={() => (window.location.href = "/")}
        />
      </div>
    </div>
  </section>
</Layout>
